/* CSS counter */

body {
    counter-reset: theorem;
    counter-reset: lemma;
    counter-reset: proposition;
    counter-reset: definition;
    counter-reset: conjecture;
    counter-reset: example;
    counter-reset: postulate;
    counter-reset: problem;
    counter-reset: case;
}

/* style of "before" */
/** before plain or definition **/
.conjecture:before,.corollary:before,.definition:before,.example:before,.lemma:before,.postulate:before,.problem:before,.proposition:before,.theorem:before
{
	font-weight:700;
	font-style:normal
}
/** before remark or proof **/
.remark:before,.note:before,.case:before,.proof:before
{
	font-style:italic
}
/* content of "before" (everything goes here) */
.corollary:before
{
	content:"Corollary."
}

.lemma:before
{
	counter-increment: lemma;
	content:"Lemma " counter(lemma) ". "
}

.proposition:before
{
	counter-increment: proposition;
	content:"Proposition " counter(proposition) ". "
}

.theorem:before
{
	counter-increment: theorem;
	content:"Theorem " counter(theorem) ". "
}
.definition:before
{
	counter-increment: definition;
	content:"Definition " counter(definition) ". "
}

.conjecture:before
{
	counter-increment: conjecture;
	content:"Conjecture " counter(conjecture) ". "
}

.example:before
{
	counter-increment: example;
	content:"Example " counter(example) ". "
}

.postulate:before
{
	counter-increment: postulate;
	content:"Postulate " counter(postulate) ". "
}

.problem:before
{
	counter-increment: problem;
	content:"Problem " counter(problem) ". "
}
.remark:before
{
	content:"Remark."
}

.note:before
{
	content:"Note."
}

.case:before
{
	counter-increment: case;
	content:"Case " counter(case) ". "
}
.proof:before
{
	content:"Proof."
}
/* main style */
/** plain **/
.corollary,.lemma,.proposition,.theorem
{
	display:block;
	margin:12px 0;
	font-style:italic
}
/** definition, remark or proof **/
.case,.conjecture,.definition,.example,.note,.postulate,.problem,.proof,.remark
{
	display:block;
	margin:12px 0;
	font-style:normal
}
/* after proof */
.proof:after
{
	content:"\25FB";
	float:right
}